@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/font_awesome")
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/katex_css")
</head>
<body>
    <div id="canvasBackground">
        <div id="canvasContainer">
            <canvas id="finalDrawCanvas"></canvas>
            <div id="bufferContainer">
            </div>
        </div>
    </div>

    <div id="toolbox">
        <div id="drawer" class="iconButton"><i class="fa fa-pencil"></i></div>
        <div id="eraser" class="iconButton"><i class="fa fa-eraser"></i></div>
        <div id="colors" class="iconButton"><i class="fa fa-tint"></i></div>
        <div id="thickness" class="iconButton"><i class="fa fa-sliders"></i></div>
        <div id="clear" class="iconButton"><i class="fa fa-times"></i></div>
    </div>

    <div id="colorPicker" class="hidden">

    </div>

    <div id="thicknessPicker" class="hidden">

    </div>

    <div id="loadingBlind" class="blind"></div>
    <div id="disconnectedBlind" class="blind"><div id="disconnectedText">You were disconnected due to a network error. <br /> Refresh the page to reconnect.</div></div>

    @Html.Partial("LatexMessageModal")
    @Html.Partial("Messenger")

    <script>
        var boardId = "@ViewBag.BoardId";

        var preventScroll = function (e) {
            e.preventDefault();
            e.stopPropagation();
            return false;
        };

        document.body.addEventListener("scroll", preventScroll);
        document.body.addEventListener("touchmove", preventScroll)
        document.body.addEventListener("mousewheel", preventScroll)
    </script>

    @Scripts.Render("~/bundles/app_scripts")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common_scripts")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/katex_script")
</body>
</html>
