<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/font_awesome")
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/fonts")
    @Styles.Render("~/katex_css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common_scripts")
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/katex_script")

    @RenderSection("scripts", required: false)
</body>
</html>
